<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectakhir">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectAkhir">
        <activity
            android:name=".pgFinal"
            android:exported="true" />
        <activity
            android:name=".pgJamTidur"
            android:exported="true" />
        <activity
            android:name=".addMakananSendiri"
            android:exported="true" />
        <activity
            android:name=".pgMakanan"
            android:exported="true" />
        <activity
            android:name=".addNewOlahraga"
            android:exported="true" />
        <activity
            android:name=".addOlahragaSendiri"
            android:exported="true" />
        <activity
            android:name=".inputOlahragaSendiri"
            android:exported="true" />
        <activity
            android:name=".pgRegister"
            android:exported="true" />
        <activity
            android:name=".pgHome"
            android:exported="true" />
        <activity
            android:name=".pgProfile"
            android:exported="true" />
        <activity
            android:name=".addMakanan"
            android:exported="true" />
        <activity
            android:name=".pgInputMakanan"
            android:exported="true" />
        <activity
            android:name=".pgBbTb"
            android:exported="true" />
        <activity
            android:name=".pgOlahraga"
            android:exported="true" />
        <activity
            android:name=".pgCheatday"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>